<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mouse Mover Controller</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Mouse Mover Controller</h1>
      </header>
      <main>
        <form id="start-form">
          <label for="end-time">Enter the end time (HH:MM AM/PM):</label>
          <input
            type="text"
            id="end-time"
            name="end-time"
            placeholder="02:50 PM"
            required
          />
          <button type="submit">Start Script</button>
        </form>
        <button id="stop-button">Stop Script</button>
        <div id="response"></div>
      </main>
      <footer>
        <p>© 2024 Mouse Mover Controller</p>
      </footer>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
